<section class="contact">
    <div class="container">
        <h1 class="text-center">CONTACT ME</h1>
      <div class="divider">
         <div class="divider-line"></div>
         <div class="divider-icon">
             <i class="fas fa-star"></i>
         </div>
         <div class="divider-line"></div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form novalidate>
                    <div class="input-group">
                        <div class="input-group floating-label-form-group controls mb-3 pb-2">
                            <input class="form-control" required data-validation-required-message ="Please enter your name" aria-invalid="true" placeholder="Name" type="text" id="userName">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group floating-label-form-group controls mb-3 pb-2">
                            <input class="form-control" required data-validation-required-message ="Please enter your email address." aria-invalid="true" placeholder="Email Adress" type="email" id="userEmail">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group floating-label-form-group controls mb-3 pb-2">
                            <input class="form-control" required data-validation-required-message ="Please enter your phone number" aria-invalid="true" placeholder="Phone Number" type="number" id="userPhone">
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group floating-label-form-group controls mb-3 pb-2">
                            <textarea rows="4" class="form-control" required data-validation-required-message ="Please enter your message" aria-invalid="true" placeholder="Message" type="text" id="userMessage"></textarea>
                        </div>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-primary btn-lg" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>