<section class="portfolio">
    <div class="container">
        <h1 class="text-center">PORTFOLIO</h1>
      <div class="divider">
         <div class="divider-line"></div>
         <div class="divider-icon">
             <i class="fas fa-star"></i>
         </div>
         <div class="divider-line"></div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="item">
                    <div class="caption mb-5 d-flex justify-content-center align-items-center">
                        <img  class="w-100" src={{img1}} alt="">
                        <div class="plus text-white text-center">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="item">
                    <div class="caption mb-5 d-flex justify-content-center align-items-center">
                        <img  class="w-100 " src={{img2}} alt="">
                        <div class="plus text-white text-center">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="item">
                    <div class="caption mb-5 d-flex justify-content-center align-items-center">
                        <img  class="w-100 " src={{img3}} alt="">
                        <div class="plus text-white text-center">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="item">
                    <div class="caption mb-5 d-flex justify-content-center align-items-center">
                        <img  class="w-100 " src={{img4}} alt="">
                        <div class="plus text-white text-center">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="item">
                    <div class="caption mb-5 d-flex justify-content-center align-items-center">
                        <img  class="w-100 " src={{img5}} alt="">
                        <div class="plus text-white text-center">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="item">
                    <div class="caption mb-5 d-flex justify-content-center align-items-center">
                        <img  class="w-100 " src={{img6}} alt="">
                        <div class="plus text-white text-center">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>