<section class="home bg-primary">
    <div class="container d-flex align-items-center flex-column justify-content-center">
        <img class="mb-5" src={{imageURL}} alt="">
        <h1 class="text-white">START ANGULAR</h1>
        <div class="divider">
            <div class="divider-line"></div>
            <div class="divider-icon text-white">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-line"></div>
        </div>
    </div>
    <p class="text-white text-center">Graphic Artist - Web Designer - Illustrator</p>
</section>
